@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

/* assets/css/main.css */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}